################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualGDB
/.vs/stm32f103_usb_mass_storage/v15
